*{
    margin:0;
    padding:0;
}
@font-face {
    font-family:'pacifico';
    src: url(../fonts/Pacifico.ttf);
}
body,html{
    width:100%;
    height:100%;
}
/* Css for navigation */
.background{
    background: url(../images/bg.jpg);
    height:100%;
    width:100%;
    position: relative;
    background-attachment: fixed;
}
.menu-top{
    background: #000!important;
    padding:.5em 0 0 0;
}
.menu-right li.nav-item a.nav-link{
    text-shadow:1px 1px 10px #000;
    color:#fff;
    font-size:.8em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-left:0.2rem;
}
.menu-right li.nav-item a.nav-link:hover{
    color:yellow;
    text-decoration:underline;
}

@media (max-width:576px){
    .background{
        background:url(../images/bg-responsive.png);
    }
    .logo{
        padding-left:1em;
        font-size:.85em;
    }
    .menu-right li.nav-item {
        padding-left:1em;
        border-bottom:1px dashed  #000;
    }
    .menu-right li.nav-item a.nav-link{
	font-size:1em;
    }
    .menu-top{
        background:#000 !important;
    }
    .background .container .navbar-toggler{
        transform:translateX(-15px);
    }
}
@media (min-width:577px) and (max-width:768px){
    .background{
        background:url(../images/bg-responsive.png) cover no-repeat;
    }
    .menu-top{
        background:#000 !important;
    }
    .menu-right li.nav-item a.nav-link{
	font-size:1em;
    }
    .menu-right li.nav-item {
        padding-left:1em;
        border-bottom:1px dashed  #000;
    }
}
@media (min-width:769px) and (max-width:990px){
    .background{
        background:url(../images/bg-responsive.png) cover no-repeat;
    }
    .menu-top{
        background:#000 !important;
    }
    .menu-right li.nav-item {
        padding-left:1em;
        border-bottom:1px dashed  #000;
    }
}


/* end navigation */


/* Css for banner */
.banner{
    position:absolute;
    width:100%;
    top:0;
    color:#fff !important;
    text-align: center;
    text-shadow: 1px 1px 10px #000;
}
.banner h5{
    padding-top:30%;
    padding-bottom:0.7em;
    font-family:pacifico;
}
.banner h1{
    font-size: 1.8em;
    padding-bottom:1em;
    font-family:pacifico;
}
.banner a.btn{
    background-color:#FFEB3B;
    border:1px #FFEB3B solid;
    text-transform: uppercase;
    color:#fff !important;
    font-family:pacifico;
}
.banner a.btn:hover,
.banner a.btn:focus{
    background-color:#fed136;
    border:1px #fed136 solid;
    color:#fff !important;
}

@media (max-width:576px){
    .banner h5{
        font-size:.9em;
        padding-top:40%;
        font-family: 'pacifico';
    }
    .banner h1{
        font-size:1.4em;
    }
    .banner .btn{
        padding:.8em;
        font-size:.7em;
    }
}
@media (min-width:577px) and (max-width:768px){
    .banner h5{
        font-size:1.2em;
        padding-top:30%;
        font-family: 'pacifico';
    }
    .banner h1{
        font-size:1.6em;
        font-family:pacifico;
    }
    .banner .btn{
        padding:.8em;
        font-size:.7em;
    }
}
/* end banner */

/* Css for who i am */
.who-i-am{
    background: #e9ecef;
    width:100%;
}
.row1 h4{
    text-align: center;
    padding-top:3em;
    padding-bottom: .7em;
    font-weight: 700;
    font-family:pacifico;
}
.heading-under{
    width:20%;
    height:3px;
    background-color: #6e6e6e;
    margin-left:40%;
}

/* left */
.who-i-am .images img{
    width:100%;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}
/* end left  */

/* right  */
.who-i-am .caption{
    padding:2em 2em ;
}
.who-i-am .caption p{
    font-size: .9em;
    line-height: 1.2em;
}
/* end right  */
@media (max-width:576px){
    .row1 h4{
        font-size:1em;
    }
}

/* end who i am */

/* Css for my-subject & hometown*/
.my-subject,.hometown{
    width:100%;
}

/* left  */
.my-subject .caption,
.hometown .caption{
    font-size: .9em;
    padding-top: 3.5em;
    padding-bottom:1.5em;
    position: relative;
}
.hometown .caption{
    font-size:.9em;
}
/* right  */
.my-subject .images img,
.hometown .images img{
    width:100%;
    padding-bottom:1.5em;
    padding-top: 2em;
    padding-left: 1em;
    position: relative;
}

@media (max-width:576px){
    .my-subject .images img,
    .hometown .images img{
        font-size:.7em;
        padding-left:0;
    }
    .my-subject .images img,
    .hometown .images img{
        padding-top: 0;
    }
}
@media (min-width:577px) and (max-width:1024px){
    .my-subject .caption,
    .hometown .caption{
        font-size:.4em;
    }
    .my-subject .images img,
    .hometown .images img{
        padding-top: 0;
    }
}

/* end subject & hometown */

/* css for chinese chess & my school */
.chinese-chess,.my-school{
    width:100%;
    background:#e9ecef;
}
.chinese-chess .caption
,.my-school .caption{
    font-size: .9em;
    padding-top: 3.5em;
    padding-bottom:1.5em;
    position: relative;
}

.chinese-chess .images img,
.my-school .images img{
    width:100%;
    padding-top: 2.5em;
    padding-bottom: 2em;
    position: relative;
}

@media (max-width:576px){
    .chinese-chess .images img,
    .my-school .images img{
        padding-left:0;
        padding-bottom:0;
    }
    .chinese-chess .caption,
    .my-school .caption{
        padding-top: 1em;
        padding-bottom:0;
        font-size:.7em;
    }
    .chinese-chess .row1 h4,
    .my-school .row1 h4{
        font-size:.9em;
    }
}
@media (min-width:577px) and (max-width:1024px){
    .chinese-chess .caption,
    .my-school .caption{
        font-size:.4em;
        padding-top: 1.5em;
    }
    .chinese-chess .images img,
    .my-school .images img{
        padding-left:0;
        padding-bottom:0;
    }
}
/* end chinese chess & my school */
footer{
    background: #000;
    color: #fff;
    font-size: .8em;
    text-align: center;
}
footer h4{
    padding-top:1em;
}
footer .heading-under-footer{
    width:70%;
    background:#6e6e6e;
    height:3px;
    margin:0 auto;
    
}
footer .footer-right{
    line-height:0.6em;
}
footer i{
    padding-top:.5em;
    padding-left:.4em;
}

footer .footer-left a{
    padding-top: .5em;
    font-size: 1em;
    color:#fff;
}
